.main{
   
    padding: 5px;
    background-color:aqua;
    height: 1000px;
    .container{
        
        padding: 50px;
        border: 1px solid black;
        background-color: chocolate;
        justify-content: center;
        text-wrap: wrap;
   
      

        
    }
}
